<% content_for :title do %> Edit <%= @item.content %> <% end %>
<h1>Edit <%= @item.content %></h1>

<div class="form">
    <%= simple_form_for([@list, @item]) do |form| %>
        <%= form.error_notification %>
        <%= form.input :content %>
        <%= form.button :submit, 'Update List', class: 'submit' %>
    <% end %>
</div>
